@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-completionist: var(--completionist);
  --color-fighting: var(--fighting);
  --color-action: var(--action);
  --color-adventure: var(--adventure);
  --color-rpg: var(--rpg);
  --color-strategy: var(--strategy);
  --color-simulation: var(--simulation);
  --color-sports: var(--sports);
  --color-racing: var(--racing);
  --color-puzzle: var(--puzzle);
  --color-shooter: var(--shooter);
  --color-horror: var(--horror);
  --color-roguelike: var(--roguelike);
  --color-mmorpg: var(--mmorpg);
  --color-battleroyale: var(--battleroyale);
  --color-survival: var(--survival);
  --color-stealth: var(--stealth);
  --color-indie: var(--indie); 
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
}

:root {
  --background: oklch(0.12 0.02 260);
  --foreground: oklch(0.129 0.042 264.695);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.129 0.042 264.695);
  --primary: oklch(0.6826 0.2125 40.11);
  --primary-foreground: oklch(0.984 0.003 247.858);
  --secondary: oklch(0.966 0.007 247.896);
  --secondary-foreground: oklch(0.208 0.042 265.755);
  --accent: oklch(0.968 0.007 247.896);
  --accent-foreground: oklch(0.208 0.042 265.755);
  --completionist: oklch(0.68 0.19 236.7);
  --fighting: oklch(0.5542 0.208 25.99);
  --action: oklch(0.3479 0.1381 22.55);
  --adventure: oklch(0.6236 0.0999 108.98);
  --rpg: oklch(0.6626 0.1307 229.62);
  --strategy: oklch(0.6538 0.1603 359.26);
  --simulation: oklch(0.6291 0.0532 254.21);
  --sports: oklch(0.968 0.007 247.896);
  --racing: oklch(0.603 0.2347 26.99);
  --puzzle: oklch(0.6107 0.1653 135.85);
  --shooter: oklch(0.4648 0.0654 120.74);
  --horror: oklch(0.3344 0.0721 320.76);
  --roguelike: oklch(0.8028 0.0311 15.27);
  --mmorpg: oklch(0.4774 0.0777 229.62);
  --battleroyale: oklch(0.3721 0.0396 47.63);
  --survival: oklch(0.5629 0.1172 47.03);
  --stealth: oklch(0.3715 0.0173 236.47);
  --indie: oklch(0.4566 0.1057 281.37);
  --border: oklch(0.929 0.013 255.508);
  --input: oklch(0.929 0.013 255.508);
  --ring: oklch(0.704 0.04 256.788);
}

.dark {
  --bg-main: oklch(0.1795 0.0168 273.68);
  --bg-card: oklch(0.15 0.02 260);
  --bg-card-hover: oklch(0.26 0.04 264.7);
  --bg-platform: oklch(0.2237 0.0201 271.7);
  --border: oklch(0.28 0.0369 259.97);
  --badge-recommended: oklch(0.68 0.19 236.7);
  --badge-completionist: oklch(0.68 0.19 236.7);
  --badge-genre: oklch(0.29 0.04 264.7);
  --badge-endless: oklch(0.29 0.04 264.7);
  --badge-story: oklch(0.25 0.04 264.7);
  --bg-header: oklch(0.19 0.04 264.7);
  --card-hover: oklch(0.2517 0.0244 275.72);
  --text-interesting-fact: oklch(0.68 0.19 236.7);
  --switch-recommend-bg: oklch(0.36 0.13 308.6);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Ebin :D */
